.inputField {
  background-color: var(--ll-table-head);
  outline: none;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--ll-black-400);
  color: var(--text-base);
}
.fullWidth {
  width: 100%;
}
