.card {
  border-radius: 4px;
  background-color: var(--color-background);
  padding: 12px;
  box-shadow: var(--ll-box-shadow);
}

.pieChart {
  height: 250px;
  width: 250px;
}

.barChart {
  flex-grow: 1;
}
